:root {
  font-family: Prompt, "Segoe UI", system-ui, sans-serif;
  color: #e1e1e1;
  background: #00090e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  background: #00090e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}
